<form name="filterEventsForm" [formGroup]="eventsFilterForm">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Type</th>
            <th>Date</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" name="titleFilter" formControlName="titleFilter" />
            </td>
            <td>
                <input type="text" name="descFilter" formControlName="descFilter" />
            </td>
            <td>
                <select name="typeFilter" id="typeFilter" formControlName="typeFilter" >
                    <option value="ALL">ALL</option>
                    <option value="HOLIDAY">HOLIDAY</option>
                    <option value="STAGE">STAGE</option>
                    <option value="OTHER">OTHER</option>
                </select>
            </td>
            <td>
                <select name="yearFilter" id="yearFilter" formControlName="yearFilter" >
                    <option value="ALL">ALL</option>
                    <option *ngFor="let year of allYears" [value]="year">{{year}}</option>
                </select>
            </td>
            <td>
                <select name="participantfilter" id="participanFilter" formControlName="participantFilter" >
                    <option value="ALL">ALL</option>
                    <option value="Jean-Louis Bourlet">Jean-Louis Bourlet</option>
                    <option value="Maylee Bourlet">Maylee Bourlet</option>
                    <option value="Liam Bourlet">Liam Bourlet</option>
                    <option value="Yun Li">Li Yun</option>
                </select>
            </td>
            <td></td>
        </tr>
        <tr *ngFor="let event of filteredEvents">
            <td>{{event.title}}</td>
            <td>{{event.description}}</td>
            <td>{{event.type}}</td>
            <td>{{event.date | date:'dd-MM-yyyy'}}</td>
            <td>
                <ul>
                    <li *ngFor="let participant of event.participants">{{participant.firstname}} {{participant.lastname}}</li>
                </ul>
            </td>
            <td>
                <button class="btn btn-default" (click)="editEvent(event)">Edit</button>
                <button class="btn btn-default" (click)="deleted.emit(event)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</form>
