<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-light bg-faded">
                <h1 class="navbar-brand">My events</h1>
                <div class="pull-xs-right">
                    <app-modal-event-detail (saved)="saveEvent($event)" (new)="resetEvent()" [event]="selectedEvent"></app-modal-event-detail>
                </div>
            </nav>

        </div>
        <div class="card-block">
            <app-event-list [events]="events | async" (selected)="selectEvent($event)" (deleted)="deleteEvent($event)"></app-event-list>
        </div>
    </div>
</div>
